
.dart_tool/package_config.json
.flutter-plugins
.flutter-plugins-dependencies
.flutter-plugins-dependencies
.packages
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
android/local.properties
ios/Runner/GeneratedPluginRegistrant.m
pubspec.lock
.packages
.dart_tool/package_config.json
*.log
